body {
  display: flex;
  justify-content: center;
  font-family: arial;
}

#container {
  width: 500px;
}

#cabecalho {
  display: flex;
  justify-content: space-between;
  background-color: #87CEEB;
  align-items: center;
}

#logo {
  height: 60px;
  width: 100px;
  margin: 10px;
}

#menu {
  list-style: none;
}

.item-menu {
  display: inline;
  background-color: #87CEEB;
  padding: 10px;
}

.link-menu {
  color: white;
  text-decoration: none;
}

.link-trailer {
  color: white;
  background-color: #87CEEB;
  list-style: none;
  text-decoration: none;
}

.poster {
  height: 100px;
  width: 100px;
  align-self: center;
}

.elementos {
  height: 300px;
  width: 200px;
  align-self: center;
}

.korra {
  width: 420px;
  height: 280px;
}

#conteudo {
  margin-top: 10px;
}

h3 {
  font-family: arial;
  color: black;
}

#principal {
  display: flex;
  background-color: white;
}

#descricao {
  padding: 20px;
  text-align: justify;
}

#rodape {
  margin-top: 10px;
  background-color: #87CEEB;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
}

.p-rodape {
  width: 300px;
}